# Git
.git
.gitignore
.gitattributes

# Секреты
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.pytest_cache/
.mypy_cache/

# IDE
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile
docker-compose*.yml
.dockerignore

# Прочее
*.log
README.md